body{
    background: #f7f7f7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}

.photo{
    border-radius: 280px;
    border: #000 solid 3px;
    
}

#title, .subtitle, .posttitle{
    color:#505050;
}

#title{
    font-size: 60px;
    text-transform: uppercase;
}
a{
    text-decoration: line-through;
    color: #505050
}
.posttitle{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}
.post{
    background: #fff;
    /*entre ele*/
    padding: 15px;
    /*Pixel e porcentagem*/
    border: 3px solid #000;
    /*Entre os elementos da página*/
    /*Topo, direita, inferior, esquerda*/
    margin-bottom: 20px;
    border-radius: 5px;
}
.postcontent{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}
.postimage{
    margin-bottom: 15px;
    width: 100%;
}
.contact_list{
    list-style-type: none;
    padding-left: 15px;
}

.contact_list li a{
    text-decoration: none;
}